# Website related stuff
var/
node_modules/
bundle.js
*.js.map

# Python stuff
*.pyc
__pycache__/
*.egg-info*
dist/
env/
venv/
venv3/
.venv/

# IDE dirs
*~
*.lock
*.swp
.vscode
.ropeproject/
.vscode/
.idea